prueba_entornos_virtuales/

Modulo 1/pruebas.ipynb

Modulo 2/_src
Modulo 2/Tarea introducción base de datos/Guardado de modelo Henry.mwb

Modulo 3/Checkpoint_Create_Insert.sql
Modulo 3/CP_Viejo_M3.sql
Checkpoint M3

Modulo 4/Tarea 1 Big Data/Servidor_Ubuntu
Modulo 4/Tarea 1 Big Data/M4-C1- Big Data.pptx
Modulo 4/Tarea 2 Hadoop/M4-C2-Frameworks Hadoop.pptx
Modulo 4/Tarea 3 Hive/M4-C3-Hive.pptx
Modulo 4/Tarea 3 Hive/Homework/
Modulo 4/Tarea 4 Formatos de almacenamiento/M4-C4-Formatos de almacenamiento.pptx
Modulo 4/Tarea 5 SQL - NoSQL/M4-C5-SQL - NoSQL.pptx
Modulo 4/Tarea 5 SQL - NoSQL/Neo4j_Graph_Algorithms_r3.pdf
Modulo 4/Tarea 6 NoSQL/M4-C6-NoSQL.pptx
Modulo 4/Tarea 6 NoSQL/Homework/Neo4j_Graph_Algorithms_r3.pdf
Modulo 4/Tarea 7 Apache Spark/M4-C7-Apache Spark.pptx
Modulo 4/Tarea 7 Apache Spark/Databricks-Demo/Databricks-Demo-Spark.mp4
Modulo 4/Tarea 8 Flujos de trabajo/M4-C8-Flujos de Trabajo.pptx

Modulo 5/Tarea 1 Visualizacion de datos/images/
Modulo 5/Tarea 1 Visualizacion de datos/presentación/
Modulo 5/Tarea 2 Introduccion a Power BI/images/
Modulo 5/Tarea 2 Introduccion a Power BI/presentación/
Modulo 5/Tarea 3 Power Query/presentación/
Modulo 5/Tarea 3 Power Query/Homework.pbix
Modulo 5/Tarea 4 Power Query avanzado/Presentación/
Modulo 5/Tarea 5 DAX/Presentación/
Modulo 5/Tarea 6 Matplotlib/Presentación/
Modulo 5/Tarea 6 Matplotlib/Datasets/
Modulo 5/Tarea 7 Seaborn/Presentación/
Modulo 5/Tarea 7 Seaborn/Datasets/
Modulo 5/Tarea 7 Seaborn/Formula_M.png