prueba_entornos_virtuales/

Modulo 1/pruebas.ipynb

Modulo 2/_src
Modulo 2/Tarea introducción base de datos/Guardado de modelo Henry.mwb

Modulo 3/Checkpoint_Create_Insert.sql
Modulo 3/CP_Viejo_M3.sql
Checkpoint M3

Modulo 4/Tarea 1 Big Data/Servidor_Ubuntu
Modulo 4/M4-C1- Big Data.pptx